/CWBierzapfanlage.cfg.backup
/CWBierzapfanlage.sh.backup
/.gitignore.backup
/CWBierzapfanlage.sh
/CWBierzapfanlage.cfg
/CWBierzapfanlage*.py~
/CWBierzapfanlage*.pyc
/CLI/__init__.pyc
/.project
/.pydevproject
/.settings/org.eclipse.core.resources.prefs
/CLI/CWFrameHandler.pyc
/CWConstants.pyc
/GUI/CWBierzapfanlageCLIDrawer.pyc
/GUI/CWBierzapfanlageGUI.pyc
/GUI/CWBierzapfanlageGUIManager.pyc
/GUI/CWThread.pyc
/GUI/__init__.pyc
/Profile/CWParameterHandler.pyc
/Profile/CWProfileManager.pyc
/Profile/__init__.pyc
/Serial/CWSerialHandler.pyc
/Serial/__init__.pyc
/StateMachine.pyc
/StateMachine/CWStartFill.pyc
/StateMachine/CWStartRotate.pyc
/StateMachine/CWState.pyc
/StateMachine/CWStateMachine.pyc
/StateMachine/CWStopFill.pyc
/StateMachine/CWStopRotate.pyc
/StateMachine/CWTabMachine.pyc
/StateMachine/__init__.pyc
/CLI/*.py~
/Serial/*.py~
/StateMachine/*.py~
/StateMachine/*.pyc
*.sh~

