/CWBierzapfanlage.cfg
/CWBierzapfanlageCLI.py~
/CWBierzapfanlageCLI.pyc
/CWBierzapfanlageCLIDrawer.pyc
/CWBierzapfanlageConstants.pyc
/CWBierzapfanlageGUI.pyc
/CWBierzapfanlageProfileManager.pyc
/CWBierzapfanlageSerial.pyc
