/CWBierzapfanlage.cfg.backup
/CWBierzapfanlage.sh.backup
/.gitignore.backup
/CWBierzapfanlage.py~
/CWBierzapfanlage.sh
/CWBierzapfanlage.sh~
/CWBierzapfanlageCLIDrawer.py~
/CWBierzapfanlageConstants.py~
/CWBierzapfanlageGUI.py~
/CWBierzapfanlageProfileManager.py~
/CWBierzapfanlageSerial.py~
/CWBierzapfanlage.cfg
/CWBierzapfanlageCLI.py~
/CWBierzapfanlageCLI.pyc
/CWBierzapfanlageCLIDrawer.pyc
/CWBierzapfanlageConstants.pyc
/CWBierzapfanlageGUI.pyc
/CWBierzapfanlageProfileManager.pyc
/CWBierzapfanlageSerial.pyc
/CWBierzapfanlageGUIManager.pyc
